<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #e9d8f4;
        }
        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }
        li a.active {
            background-color: #58257b;
            font-weight: bold;
            color: white;
        }
    </style>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a class="active" href="{% url 'User:login' %}">MY PROFILE</a></li>
            <li><a href="{% url 'myblog:saves'%}">ADD CONTENT</a></li>
            <li><a href="">UPDATE CONTENT</a></li>
            <li><a href="">LIST STAFF</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>